<!DOCTYPE html>
<html lang="en">
<head>
    <!-- MOBILE-APP-INSTALL -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="GB3: Abilities">
    <link rel="icon" sizes="16x16" href="launcher-icons/favicon.png"/>
    <link rel="icon" sizes="192x192" href="launcher-icons/192android.png"/>
    <link rel="icon" sizes="128x128" href="launcher-icons/128android.png"/>
    <!-- /MOBILE-APP-INSTALL -->

    <title>GB3: Abilities</title>

    <link rel="manifest" href="manifest.json"/>
    <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
        integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous"/>
    <link rel="stylesheet" href="styles.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
    <script src="data.js"></script>
    <script src="app.js"></script>
</head>
<body data-spy="scroll" data-target="#alpha-index" id="gb3abilities">
<template id="ability-template">
  {% if(it.index){ %}
  <div class="ability-index-section"
    id="index-{{it.index.id}}">
    <span class="text-secondary">{{it.index.label.toUpperCase()}}</span>
  </div>
  {% } %}
  <div class="ability ability-{{it.t}}">
    <div class="ability-label">{{it.l}}</div>
    <div class="ability-description">{{it.e}} {{it.v}}<br/>
    {% if (it.s) for(var s of it.s){ %}
        <span class="badge badge-light">{{s}}</span>
    {% } %}
    </div>
  </div>
</template>
<template id="index-template">
    <li class="nav-item"><a class="nav-link" href="#index-{{it}}">{{it.toUpperCase()}}</a></li>
</template>
<div class="container" id="index-top">
  <div class="row">

    <div class="col">
      <div id="ability-list"></div>
    </div>

    <div class="flex-column" style="padding-right: 0.3em">
      <nav id="alpha-index">
        <ul class="nav nav-pills flex-column" id="alpha-index-list">
        </ul>
      </nav>
    </div>

  </div>
</div>
<footer id="sorting">
    <div class="container">
        <nav>
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link active" href="#index-top" id="sort-name">By Name</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#index-top" id="sort-ability">By Ability</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
</body>
</html>
