body {
    position: relative;
}

.navbar {
    padding: 0.3rem !important;
}

#ability-list {
    padding-left: 0;
    list-style: none;
}
.ability {
  margin-bottom: 0.7rem;
  padding-left: 1rem;
  clear:left;
}
.ability-label {
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  clear: left;
}
.ability-rarity {
    display:none;
}
.ability-sources {
    padding-left: 0;
    list-style: none;
}
.ability-rarity-regular .ability-label {
  color: #555;
  color: var(--gray-dark);
}
.ability-rarity-special .ability-label {
  color: #e90;
}
.ability-index-section {
    font-size: 1rem;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin-left: -1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.8rem;
}
.ability-index-section span {
    margin-top: -.7rem;
    display: block;
    float: left;
    background-color: #060606;
    padding-right: .5rem;
    text-transform: uppercase;
    color: #888;
    color: var(--gray);
}
.ability-index-section a {
    display: block;
    position: relative;
    top: -4rem;
    visibility: hidden;
}
#alpha-index {
  position: sticky;
  top: 3.6rem;
}

#gb3abilities .nav>li>a.nav-link {
  padding: 0 0.5rem;
  text-align: center;
  text-transform: uppercase;
}
#gb3abilities .nav>li>a.nav-link.active {
  padding: 0.1rem 0.5rem;
}

/******************************************************************************/

#derives-list {
    padding-left: 0;
    list-style: none;
}
.derive {
  margin-bottom: 0.7rem;
  padding-left: 1rem;
  clear:left;
}

.derive-result {
  font-size: 1.1rem;
  font-weight: 500;
  display: block;
  clear: left;
}

.derive-bases {
  list-style: none;
  padding: 0;
}

.derive-bases:before {
    content: 'Bases:';
}

.derive-bases > li {
}

/******************************************************************************/
#page-placement .row {
    align-items: center;
}
#page-placement div.parts-img {
    width: 32px;
    height: 32px;
    background-image: url(icons/parts.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: inline-block;
}

#page-placement .part-ability {
    white-space: nowrap;
    text-overflow: ellipsis;
}
#page-placement .col:nth-child(2) {
    white-space: nowrap;
}

div.parts-img.body-no,div.parts-img.body-yes {
    background-position: top right 85.8%;
}
div.parts-img.arms-no,div.parts-img.arms-yes {
    background-position: top right 71.5%;
}
div.parts-img.legs-no,div.parts-img.legs-yes {
    background-position: top right 57.2%;
}
div.parts-img.backpack-no,div.parts-img.backpack-yes {
    background-position: top right 42.9%;
}
div.parts-img.shield-no,div.parts-img.shield-yes {
    background-position: top right 28.6%;
}
div.parts-img.melee-no,div.parts-img.melee-yes {
    background-position: top right 14.3%;
}
div.parts-img.ranged-no,div.parts-img.ranged-yes {
    background-position: top right 0%;
}
div.parts-img.head-no,
div.parts-img.body-no,
div.parts-img.arms-no,
div.parts-img.legs-no,
div.parts-img.backpack-no,
div.parts-img.shield-no,
div.parts-img.melee-no,
div.parts-img.ranged-no {
    filter: brightness(25%);
}
